*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*$padding: 6px;
$primary: #F4C03B;
$secondary: #59B9C7;*/

header {
  width: 100%;
  height: 100vh;
  background-image: url(/images/CRITERIA-BEACH-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  position: relative;
  margin: 5%;
  left: 5%;
  color: rgb(11, 26, 39);
  text-shadow: #F4C03B;
  text-decoration-color: #59B9C7;
  text-emphasis-color: #F4C03B;

}

.nav-link:hover {
  border: dashed #F4C03B;
  border-radius: 10%;
}

ol, ul, li {
  background-color: #59b8c76b;
  border-radius: 10%;
}

.voyage{ 
  position:relative;
  top: 9%;
  padding: auto;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px;
}

#date {
  width: 1000px;
  height: 39px;
  border-radius: 9%;
}

.btn {
  width: 200px;
  height: 39px;
}
  
.box{
display: flex;
align-items: flex-start;
justify-content: space-between;
margin: 30px;
}

.box :first-child{
  align-self: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    outline: black;
  background-color: #59B9C7;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.carousel-indicators {
  background-color: #59b8c765;
}

footer{
  width: 100%;
  height: 21vh;
  background-color: #59B9C7;
}

.contact {
  text-align: left;

}

.reseaux { 
  text-align: center;
} 

.mentions {
  text-align: left;
}

.musique {
  align-items: center;
  margin: 0;
}


